@root-path: 'atom://johns-work-arounds/resources';

.font (@name,  @file)
{
    @font-path: '@{root-path}/@{file}';

    @font-face {
        font-family: @name;
        font-weight: normal;
        font-style: normal;
        src: url(@font-path);
    }

}

.font ('anonymous',     'Anonymous_Pro/AnonymousPro-Regular.ttf');
.font ('dejavu',        'Dejavu-fonts-ttf-2.34/DejaVuSansMono.ttf');
.font ('inconsolata',   'Inconsolata/Inconsolata-Regular.ttf');
.font ('liberation',    'Liberation-fonts-ttf-2.00.1/LiberationMono-Regular.ttf');
.font ('monofur',       'Monofur/monof55.ttf');
.font ('pt',            'PT_Mono/PTM55FT.ttf');
.font ('srcpro light',  'Source_Code_Pro/SourceCodePro-Light.ttf');
.font ('srcpro',        'Source_Code_Pro/SourceCodePro-Regular.ttf');
.font ('ubuntu',        'Ubuntu_Mono/UbuntuMono-Regular.ttf');
